* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#video-grid {
    display: flex;
    justify-content: center;
}

#video-grid > video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    height: 300px;
    width: 400px;
}